.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 8s linear infinite;
  padding-right: 2rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-40%);
  }
}